body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(img/background.png);
  }
  
  #battle-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  
  .player {
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
  }
  
  #result {
    margin-top: 20px;
  }
  
  #player1 img {
    width: 100px;
    height: 150px;
  }
  #player2 img {
    width: 100px;
    height: 150px;
  }